
<nz-table class="w-100" #filterTable [nzData]="listOfData" nzTableLayout="fixed" [nzPageSize]="5" dir="rtl" >
  <thead>
  <tr>
    <th
      *ngFor="let column of listOfColumns; trackBy: trackByName"
      [(nzSortOrder)]="column.sortOrder"
      [nzSortFn]="column.sortFn"
      [nzFilters]="column.listOfFilter"
      [nzFilterFn]="column.filterFn"
    >
      {{ column.faName}}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of filterTable.data">
    <td>{{ data.id }}</td>
    <td>{{ data.name }}</td>
    <td>{{ data.username }}</td>
    <td>{{ data.email }}</td>
    <td>{{ data.phone }}</td>
    <td>{{ data.website }}</td>
    <td>{{data.company.name}}<td>
      <button class="btn btn-info text-white" (click)="action('modal' , data.address)"> آدرس</button>
    </td>
  </tr>
  </tbody>
</nz-table>
