@import 'src/scss/variables';


// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html {
  font-size: 12px;
}

body {
  box-sizing: border-box;
  direction: rtl;
  font-size: 1rem;
  text-align: center;
  font-family: $font-family-base;
  margin: 0;
  color: #8790A8;

}

html,
body {
  height: 100vh;

}



.ant-modal-body{
  height: 400px!important;
}

.ant-table-container, .ant-table-container table>thead>tr:first-child th {
  text-align: center;
}
.ant-table-container, .ant-table-container table tr  {
  text-align: center;
}


 .ant-pagination-item-link .anticon-right{
  transform: rotate(180deg);
   padding-top: 2px !important;

}
.ant-pagination-item-link .anticon-left{
  transform: rotate(180deg);
  padding-top: 2px !important;

}
